<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
</head>
<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
	<%- include('components/sidebar') %>
	<main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
		<%- include('components/header') %>
		<div class="px-6 py-6 mx-auto">
			<div class="bg-white shadow-soft-xl rounded-2xl bg-clip-border p-6">
				<div class="flex items-center justify-between mb-6">
					<h4>Daftar Kategory</h4>
					<div>
						<a href="/dashboard/category/create" class="flex gap-2 inline-block w-full px-6 py-3 my-4 text-xs font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102">
							<i class="fa fa-plus"></i>
							<span>Tambah Kategori</span>
						</a>
					</div>
				</div>
				<div class="overflow-x-auto">
					<table id="example" class="display min-w-full py-2">
						<thead>
						<tr class="bg-pink-600 text-left text-white">
							<th class="py-2 px-4 border-b">Kategori</th>
							<th class="py-2 px-4 border-b">Aksi</th>
						</tr>
						</thead>
						<tbody>
							
							<% category.forEach(category => { %>
							<tr>
								<td class="py-2 px-4 border-b w-full">
									<span class="flex gap-2 items-center">
										<%= category.category %>
									</span>
								</td>
								<td class="py-2 px-4 border-b">
									<div class="flex items-center justify-center">
										<a href="/dashboard/category/edit/<%= category.id %>" class="bg-yellow-500 px-3 py-1 text-white rounded-l-md hover:bg-yellow-600 hover:scale-105">
											<i class="fa fa-pencil"></i>
										</a>
										<form action="/dashboard/category/delete/<%= category.id %>" method="POST" class="bg-rose-500 rounded-r-md">
											<input type="hidden" name="_method" value="DELETE">
											<button type="submit" class="bg-rose-500 px-3 py-1 text-white rounded-r-md hover:bg-rose-600 hover:scale-105">
											<i class="fa fa-trash"></i>
											</button>
										</form>
									</div>
								</td>
							</tr>
							<% }) %>
							
						</tbody>
					</table>
				</div>
				  
			</div>
		</div>
	</main>
	<div class="max-h-screen max-w-screen fixed left-[calc(50%-4rem)] bottom-10 -z-20 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
		<div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
		  style="clip-path:polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)">
		</div>
	</div>
	
	<script>
    $(document).ready(function() {
      $('#example').DataTable({
        "paging": true,
        "searching": true,
        "ordering": true,
        "info": true
      });
    });
  </script>
</html>
